<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SEG2105_D1">
        <activity
            android:name=".ViewController.TutorSessionViewer"
            android:exported="false" />
        <activity
            android:name=".ViewController.TutorSessionCreator"
            android:exported="false" />
        <activity
            android:name=".ViewController.UserDetail"
            android:exported="false"
            android:theme="@style/Theme.SEG2105_D1" />
        <activity
            android:name=".ViewController.LoginPage"
            android:exported="false" />
        <activity
            android:name=".ViewController.TutorSignUpPage"
            android:exported="false" />
        <activity
            android:name=".ViewController.WelcomePage"
            android:exported="false" />
        <activity
            android:name=".ViewController.SignUpPage"
            android:exported="false" />
        <activity
            android:name=".ViewController.StudentSignUpPage"
            android:exported="false" />
        <activity
            android:name=".ViewController.AwaitingApprovalPage"
            android:exported="false" />
        <activity
            android:name=".ViewController.AdminPage"
            android:exported="false" />
        <activity
            android:name=".ViewController.MainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>